@import "tailwindcss";


@layer base {
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}

@layer base {
  :root {
    --primary-100: #000000;
    --primary-600: #2563eb;
    --primary-700: #1d4ed8;

    --primary-50: #000000;
    --primary-100: #394049;
    --primary-500: #3b82f6;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-700: #374151;
    --gray-800: #1f2a44;
    --green-500: #10b981;
    --green-600: #059669;
    --yellow-500: #f59e0b;
    --yellow-600: #d97706;
    --red-500: #ef4444;
    --red-600: #dc2626;
  }
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}